@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

@font-face {
    font-family: 'lucida-sans';
    src: url('../assets/fonts/lucida-sans.TTF');
}

:root {
    --font-sans:'lucida-sans', sans-serif;
	--font-mono:'Reddit Mono', monospace;
    --primary-color: #F66844;
    --secondary-color: #FF921B;
    --tertiary-color: #FFBD48;
    --quaternary-color: #393939;
    --quinary-color: #F2F2F2;

}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    max-width: 1480px;
}


body {
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}

h1 {
    color: white;
    font-size: 2rem;
    font-family: "lucida-sans", monospace;
    font-weight: 400;
    font-style: normal;
}

p {
    color: white;
    font-size: 1.6rem;
    font-family: "lucida-sans", monospace;
    font-weight: 300;
    font-style: normal;
    /* text-align: justify; */
}

a {
    color: white;
    font-size: 1.6rem;
    font-family: "lucida-sans", monospace;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

#audio-player {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1rem;
    width: 100%;
}

/* ======= Header ======= */

.logo {
    margin-left: 20px;
    display: block;
}

.logo h1, .logo p {
    background: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.logo h1 {
    font-size: 3rem;
    margin: 0 22px;
}

.logo p {
    font-size: 1.2rem;
    margin: 0 45px;
}

.nav-links {
    list-style-type: none;
    display: inline-flex;
}

.nav-links li {
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-links li a {
    text-decoration: none;
}

.nav-links li a.active {
    font-weight: bold;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #ffc107;
    font-weight: bold;
}

.nav-links li a.active {
    pointer-events: none;
}

/* ======= Main ======= */

.background {
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.introduction {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 3%;
    color: #fff;
}

.intro-text h1 {
    font-size: 7rem;
    color: #fff;
    text-align: left;
    /* font-family: "lucida-sans", monospace;
    font-weight: 400;
    font-style: normal; */
    
}

.intro-text p {
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.button {
    color: white;
    font-family: "lucida-sans", monospace;
    font-size: 1.2rem;
    font-weight: 300;
    align-items: center;
    padding: 10px 30px;
    border-radius: 2px;
    cursor: pointer; 
    margin-right: 50px;
    width: 120px; /* Ancho mínimo para los botones */
    padding: 10px 0px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: space-between;
}

.btn-signup {
    background: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
    border: 1px solid #F66844;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
}

.btn-signup:hover {
    background: transparent;
    border: 1px solid #F66844;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
}

.btn-watch-videos {
    background: transparent;
    border: 1px solid #F66844;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
}

.btn-watch-videos:hover {
    background: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
    border: 1px solid #F66844;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
}


/* ======= Footer ======= */

footer {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.social-network {
    
}

.social-icons {
    background: linear-gradient(90deg, #F66844 0%, #FF921B 100%);
    width: 165px;
    height: 40px;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    display: flex;
    padding-right: 1.5rem;
}

.social-icons a {
    margin-right: 0px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-network svg {
    color: white;
    width: 2rem;
    height: 2rem;
}

ion-icon {
    color: white;
}


/* ======= Floating Window ======= */
@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.card {
    animation: slideIn 2s ease-in-out;;
    display: none;
    bottom: 0;
    position: fixed;
    right: 0;
}

.is-desktop .card {
    display: block;
}

.card__inner {
    background-color: #F2F2F2;
    border-radius: 7px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 38px 25px 25px;
    transform: perspective(1000px) rotateX(0) rotateY(0) scale3d(1, 1, 1);
    transform-style: preserve-3d;
    width: 270px;
}

.card__photo {
    border: 3px solid #F2F2F2;
    border-radius: 50%;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    display: block;
    height: 80px;
    position: absolute;
    top: -50px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%) translateZ(26px);
    width: 80px;
}

.card__inner p {
    color: #2d2f31;
    font-size: 14px;
    line-height: 1.45;
    font-stretch:semi-expanded;
}

.card__img {
height: 100%;
object-fit: cover;
width: 100%;
}

.card__link {
color: #ffbd48;
display: inline-block;
transform: translateZ(18px);
}
.card__link:hover {
text-decoration: none;
}



.chat-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
    padding: 10px;
    background-color: #727365;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-messages {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
}

.message.incoming {
    background-color: #f0f0f0;
}

.chat-input {
    padding: 10px;
}

.chat-input textarea {
    width: calc(100% - 65px);
    height: 50px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

.chat-input button {
    width: 60px;
    height: 50px;
    background-color: #727365;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #727365;
}



form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}